.adv_wrapper {
    display: flex;
    gap:40px;

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1;
    }

    .icon {
        width:82px;
        height:82px;
        margin: 0 auto auto auto;
    }

    h3 {
        font-size: 18px;
        line-height: 1.2;
        font-family: 'Russo One', sans-serif;
        margin: 20px 0;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
        line-height: 1.2;
        color: #666;
        margin: 0;
    }
}

@media (max-width: 1024px) {
    .adv_wrapper{
        flex-wrap: wrap;
        justify-content: space-between;
        .box {
            width: 40%;
            flex:unset;
        }
    }
}

@media (max-width: 480px) {
    .adv_wrapper  {
        row-gap: 20px;
        column-gap: unset;

        .icon {
            width: 50px;
            height: 50px;
        }

        h3{
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
        .box {
            padding: 10px;
        }
    }
}
