.fondation_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    .fondation_card {
        width:20%;
        gap:20px;
        padding: 10px 20px;
        display: flex;
        background-color: $gray_bg_color;
        flex-wrap: wrap;
        border-radius: $border_rad;

        .icon {
            width: 70px;
            height: 70px;

            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $sub_color;
            border-radius: 50px;

            img {
                width: 30px;
                height: 30px;
            }
        }

        .text {
            flex: 1;
            word-break:break-all;

            h2 {
                font-family: 'Russo One', sans-serif;
                font-size: 14px;
            }

            a {
                font-size: 14px;
                color: $main_color;
            }
        }
    }
}


@media (max-width: 1024px) {
    .fondation_wrapper .fondation_card {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .fondation_wrapper .fondation_card {
        padding: 10px 13px;
        width:38%;
        flex-direction: column;
        gap:10px;
        .icon {
            width:30px;
            height:30px;
            img {
                width: 15px;
                height: 15px;
            }
        }
    }
}
