.page_content {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    h1 {
        font-size: 32px;
        font-family: "Russo One", sans-serif;
        line-height: 1.2;
    }

    .sidebar {
        width: 280px;

        li {
            line-height: 1.2;
            margin-bottom: 7px;
        }

        a{
            &:hover{
                color: $main_color;

            }
        }
    }
    .content {
        flex:1;
    }
}

.page_cta {
    border-radius: $border_rad;
    overflow: hidden;
    border:  1px solid $gray_border_color;
    box-shadow: $box_shadow;
    padding: 20px 30px;

    .phone {
        font-size: 32px;
        color: $main_color;
        font-family: "Russo One", sans-serif;
    }

    a {
        color:white;
    }

    h3 {
        margin-top: 0;
    }
}

.inner_page_top {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: $border_rad;
    overflow: hidden;
    border:  1px solid $gray_border_color;
    box-shadow: $box_shadow;
    .img_wrapper {
        width:320px;

    }

    .text {
        flex: 1;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .page_content {
        flex-direction: column;
        .content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .sidebar {
            width:100%;
        }
    }

    .inner_page_top {

        flex-direction: column;

            .img_wrapper {
                width:100%;
                height: 300px;
            }

        .text {
            padding: 10px;
        }

    }
}


@media (max-width: 480px) {
    .page_content {

        h1 {
            font-size: 24px;
        }
    }

    .page_cta {
        flex-direction: column;
    }
}
