.page_content {
    display: flex;
    gap:30px;

    h1 {
        font-size: 32px;
        font-family: "Russo One", sans-serif;
        line-height: 1.2;
    }

    .sidebar {
        flex:1;


        li {
            line-height: 1.2;
            margin-bottom: 7px;
        }

        a{
            &:hover{
                color: $main_color;

            }
        }
    }
    .content {
        flex:3;
    }
}

@media (max-width: 768px) {
    .page_content {
        flex-direction: column-reverse;
    }
}


@media (max-width: 480px) {
    .page_content {

        h1 {
            font-size: 24px;
        }
    }
}
