.pay_methods_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap:40px;
    flex-wrap: wrap;

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 30px;
        flex:1;
    }

    h3 {
        font-size: 18px;
        margin-top: 20px;
        text-transform: uppercase;
        font-family: 'Russo One', sans-serif;
    }

    .icon {
        width: 68px;
        height: 68px;
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .pay_methods_wrapper {
        flex-wrap: wrap;
        .box {
            width: 20%;
            flex:unset;
        }
    }
}

@media (max-width: 480px) {
    .pay_methods_wrapper {
        column-gap: 20px;

        .icon {
            width: 28px;
            height: 28px;
        }

        h3 {
            font-size: 12px;
        }

        .box {
            width: 20%;
            padding: 10px;
        }
    }
}
