.top_navigation_section {
    background-color: $gray_bg_color;
    padding: 5px 0;

    .col{
        display: flex;
        gap:20px
    }

    .right {
        justify-content: end;
    }
}

@media (max-width: 480px) {
    .top_navigation_section {
        .text_icon .text {
            font-size: 12px;
        }
        .right {
            display: none;
        }
    }
}
