.top_logo_section {
    .colls {
        justify-content: space-between;
    }
    .right {
        margin-right: auto;
        flex: unset;
    }
    .logo {
        width:300px;
        object-fit: contain;
    }

    .top_contacts {
        display: flex;
        flex-direction: column;
        .phone {
            font-size: 22px;
            font-family: "Russo One", sans-serif
        }

        .messenger {
            display: flex;
            gap:10px;
            justify-content: end;

            .msg_icon .sprite_icon{
                width:30px;
                height: 30px;
            }
        }
    }
}


@media (max-width: 480px) {
    .top_logo_section {
        .logo {
            width:170px;
        }
        .top_contacts {
            flex-direction: row-reverse;
            gap:10px;
            .phone {
                font-size: 12px;
            }

            .messenger .msg_icon {
                display: flex;
                .sprite_icon {
                    width: 15px;
                    height: 15px;
                    margin: auto;
                }
            }
        }
    }
}
