$main_color: #689775;
$hover_color: #E7C873;
$sub_color: #E7C873;
$black_color: #000;

$gray_bg_color:#F7F7F7;
$gray_border_color:#D9D9D9;

$main_transition: all .5s ease;

$main_fonts:'Roboto Flex', sans-serif;

$border_rad: 10px;

$section_space: 20px;
$conteiner_max_w: 1280px;

$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;
