@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "pagination";
@import "burger-icon";
@import "standart";
@import "form/all-form";
@import "elements/all-elements";


body{
    font-family: $main_fonts;
    font-size: 16px;
}

header,
footer,
section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.container{
    width:100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
}


img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.map_in_page {
    width:100%;
    min-height: 300px;
}

.thencs_section {
    text-align: center;
    height: 80vh;
    .emoji {
        font-size: 100px;
        margin-top: 20px;
    }
}

@media (max-width: 1440px) {
    .container {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
}

// Схема с сайдбаром
// @import "sidebar-schem";

// Боковое беню
// @import "menues";

// Иконка бургера
// @import "burger-icon";
