@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "pagination";
@import "burger-icon";
@import "standart";
@import "form/all-form";
@import "elements/all-elements";


body{
    font-family: $main_fonts;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer,
section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.section_h2 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 30px 0;
    font-family: 'Russo One', sans-serif;
}

.green_section {
    background-color: $main_color;

    .section_h2 {
        color: white;
    }
}

.gray_section {
    background-color: $gray_bg_color;
}

.container{
    width:100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
}


img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.map_in_page {
    width:100%;
    min-height: 300px;
}

.thencs_section {
    text-align: center;
    height: 80vh;
    .emoji {
        font-size: 100px;
        margin-top: 20px;
    }
}

swiper-slide {
    display: flex;
    height: auto;
}

@media (max-width: 1440px) {
    .container {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
}

// Схема с сайдбаром
// @import "sidebar-schem";

// Боковое беню
// @import "menues";

// Иконка бургера
// @import "burger-icon";
@import "text_icon";
@import "cols";

@import "top_navigation_section";
@import "top_logo_section";
@import "main_menu_section";
@import "main-banner";
@import "adv_section";
@import "pay_methods";
@import "faq";
@import "review";
@import "galery";
@import "services";
@import "price";
@import "about";
@import "fondation";


@import "footer";

