table {
    width: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;

    border-spacing: 0;

    th,td {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        padding: 10px 15px;
        text-align: left;
    }

    thead td,
    th {
        background-color: $main_color;
        color: white;
    }

    tr:nth-child(2n) td {
        background-color: #EBEBEB;
    }
}

    .table-wrapper {
        width: 100%;
        margin-bottom: 20px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

@media (max-width: 1024px) {

    .table-wrapper {
        overflow-x: auto;
    }
}
